html {
  box-sizing: border-box;
  box-sizing: inherit;
}

body { 
  background-color: #D81159;
  background-image: url("https://live.staticflickr.com/65535/52405173060_96f5917f54_h.jpg");
  background-size:auto
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  color: #f6f6f6;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

section {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background-color: #1a1a1a;
  outline: 5px solid rgb(0, 255, 94);
  width: 70%;
}
.primary-section {
  outline: 5px solid blue;
  min-height: 400px;
}

nav {
  background-color: #E8E9F3;
  color: #323031;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 60px;
  border-bottom: 3px solid #FBB13C;
}

h1 {
  font-size: 36px;
}

ul {
  list-style-type: none;
}

li {
  font-size: 30px;
}

p, label, button, input {
  font-size: 18px;
}

label {
  font-weight: bold;
}

section {
  padding: 50px;
}

a {
  color: inherit;
}

pre {
  font-size: 14px;
}

nav > a {
  margin: 10px 30px;
  text-decoration: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}

.btn {
  margin: 16px 0;
}

.link {
  padding: 10px 0;
  font-size: 18px;
  display: inline-block;
}

.profile-avatar {
  margin-top: 50px;
}