html {
  box-sizing: border-box;
  box-sizing: inherit;
}

body { 
  background-color: #323031;
  background-image: url("https://live.staticflickr.com/65535/52405173060_96f5917f54_h.jpg");
  background-size:auto;
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  color: #E8E9F3;
  font-family: 'PT Serif', serif;
  height: 100%;
  align-items: center;
 
}

#details { 
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 100%;
  padding: 5% 15%;
  background-color: #323031;
  justify-content: center;
  align-items: center;
  margin: 8%;
  text-align: left;
  font-size: 25px;
}

.description {
  padding: 5% 15%;
}

.trick-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #D81159;
  opacity: 95%;
  width: 100%;
  padding: 5%;
  font-size: 20px;
}

.add, .update {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color:#323031;
  width: 80%;
  padding: 5%;
  margin: 4%;
  text-align: center;
  font-size: 15px;
}


nav {
  background-color: #FBB13C;
  color: #323031;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0%;
  width: 100vw;
  min-height: 60px;
}


p {
  font-size: 15px;
}

h1 {
  font-size: 35px;
  font-family: 'Fredericka the Great', cursive;
  display: flex;
  align-items: center;
}

button {
  font-size: 18px;
  margin: 16px 0;
  background: none;
  font-family:  'Fredericka the Great', cursive;
  border: none;
  color: #E8E9F3;
}

button:hover {
  color: #FBB13C
}

a {
  color: inherit;
  text-decoration: none;
}

li:hover {
  color: #FBB13C;
}

nav > a {
  margin: 10px 30px;
  font-size: 24px, auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  font-family: 'Fredericka the Great', cursive;
}
