<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<link rel="stylesheet" href="/stylesheets/signin.css">

<main>
  <section>
  <h1>Roller Skate <br> Trick Library</h1>
  <h3>
    Welcome to the community-driven catalog of roller skate tricks!
  </h3>  
    <p>
    Help build this library by logging in and adding descriptions of tricks for others to try. When you've learned to do a trick, use the 'i did it!' button at the bottom of the trick's description to add it to your 'Unlocked' list.
    </p>
    <p>
    In addition to your 'unlocked' list, your profile also has a place for you to describe your skates.  Talk about your gear and let everyone know how you roll. 
  </p>
  </section>
</main>

<%- include('./partials/footer') %>

