
<%- include('../partials/html-head')  %> 
<link rel="stylesheet" href="/stylesheets/tricks/new.css">
<%- include('../partials/nav')  %>

<main>
  <section id="new">
    <form id="new-form" action="/tricks" method="POST">
      <label for="trick-input">What's your trick called?</label>
        <input type="string" name="name" id="trick-input" autocomplete="off">
      <label for="trick-textarea">Describe Trick:</label>
      <textarea name="description" id="trick-textarea"></textarea>
      <button type="submit">Add Trick</button>
    </form>
  </section> 
</main>

<%- include("../partials/footer")  %>